.App {
  padding: 20px 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hower{
  font-weight: 700;
}

.story-card {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

span {
  font-size: x-large;
  cursor: pointer;
}
